<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resume</title>
  <!--<link rel="stylesheet" href="style.css">-->
</head>
<body>
<div id="header">
  <div class="container">
    <nav>
     <!-- <img src="images/logo-white.svg" class="logo" width="140">-->
      <h1><span>V</span>enkata</h1>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Experience</a></li>
        <li><a href="#">Skills</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <div class="header-text">
      <p>Full Stack Developer</p>
      <h1>Hi, I'm <span>Venkata Attala</span></h1>
    </div>
  </div>

</div>
<div id="about">
  <div class="container">
    <div class="row">
      <div class="about-col-1">
      <img src="/Users/va185107/Downloads/pass-port_processed.jpg" class="photo">
      </div>
      <div class="about-col-2">
      <h1 class="sub-title">About</h1>
        <br>
        <p> Currently working as SDE II</p>
        <div class="tab-titles">
          <p class="tab-links active-link">Skills</p>
          <p class="tab-links">Experience</p>
          <p class="tab-links">Education</p>
        </div>
        <div class="table-contents">
          <ul>
            <li><span>Programming</span><br>Java C++ Python</li>
            <li><span>Web Development</span><br>Java C++ Python</li>
            <li><span>Cloud</span><br>Java C++ Python</li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>